<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<pre>
  <code><%= session.to_hash %></code>
</pre>
<% if current_user %>
  Welcome, <%= current_user.name %>
  Logout <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  Signup <%= link_to "Signup", signup_path %>
  or Login <%= link_to "Login", login_path %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>
        Comments
      </th>
      <th>
        column2
      </th>
      <th>
        column3
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
